* {
  font-family: 'Kreon', serif;
  font-style: normal;
}

:root {
  --color-primmary: #000;
  --color-white: #fff;
  --color-border: #DAD6D6;

  --shadow-text: 0px 4px 4px rgba(0, 0, 0, 0.25);


  --font-size-20: 20px;
  --font-size-64: 64px;
  --font-size-96: 96px;

  --line-height-default: bormal;

  --font-weight-400: 400;

}